In [2]:
import pandas as pd
data1 = pd.read_csv("./region_1.csv")
data2 = pd.read_csv("./region_2.csv")
data3 = pd.read_csv("./region_3.csv")
data4 = pd.read_csv("./region_4.csv")
#datacom = data1.merge(data2, how = 'outer')
#datacom = datacom.merge(data3, how = 'outer')
#datacom = datacom.merge(data4, how = 'outer')
#datacom

TSLF = pd.concat([data1, data2, data3, data4], ignore_index = True)
TSLF.reset_index(inplace=True,drop=False)
TSLF.sort_values(by = ['Fire_Year' , 'Fire_Month' , 'Total_area_burned(ha)'], ascending = True, inplace = True)
columns_to_drop = ['Unnamed: 0.1' , 'Unnamed: 0' ,
 'Event_ID' , 'CO2(kg)' , 'CO(kg)' , 'CH4(kg)' , 'NMOC(kg)' ,
  'SO2(kg)' , 'NH3(kg)' , 'NO(kg)' , 'NO2(kg)' , 'NOx(kg)' ,
   'PM2.5(kg)' ,'OC(kg)' , 'BC(kg)' , 'Unchanged(ha)' ,
 'Grass_Burned(ha)' , 'Moderate_Severity(ha)' , 'Low_Severity(ha)']
TSLF.drop(columns = columns_to_drop , inplace = True)
TSLF.to_csv('./TSLF.csv')
TSLF

,index,Fire_Name,Lat,Long,Fire_Year,Fire_Month,Total_area_burned(ha),High_Severity(ha),TSLF
621,621,FK 1817,36.074000,-120.188000,1984,3,592.20,70.83,2
623,623,WOODROW,35.611000,-118.446000,1984,5,452.34,0.09,0
1322,1322,WOODROW,35.611000,-118.446000,1984,5,452.34,0.09,2
625,625,OIL FIELDS,36.260000,-120.317000,1984,5,459.09,0.00,0
626,626,COTTONWOOD,37.098000,-121.162000,1984,5,571.14,65.25,1
...,...,...,...,...,...,...,...,...,...
1321,1321,MOUNTAIN VIEW,38.557839,-119.411412,2020,11,5123.52,2170.44,0
1693,1693,MOUNTAIN VIEW,38.557839,-119.411412,2020,11,5123.52,2170.44,1
1694,1694,AIRPORT,33.902902,-117.627691,2020,12,429.66,29.88,0
1695,1695,SANDERSON,33.900438,-117.063063,2020,12,784.62,35.82,0
1696,1696,BOND,33.739796,-117.662660,2020,12,2685.06,693.72,0